<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@400;700&family=Spicy+Rice&display=swap"
        rel="stylesheet">
    {{ $mainCSS := resources.Get "css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $mainCSS.RelPermalink }}" integrity="{{ $mainCSS.Data.Integrity }}"
        crossorigin="anonymous">
    {{ $attentionCSS := resources.Get "css/attention.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $attentionCSS.RelPermalink }}" integrity="{{ $attentionCSS.Data.Integrity }}"
        crossorigin="anonymous">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="/icons/icon-192.png">
    <meta name="theme-color" content="#111418">

    <!-- Component styles will be loaded by their respective templates -->
</head>



<body>
    <div class="site-wrapper">
        {{ partial "header.html" . }}

        <main class="main-content">
            {{ block "main" . }}{{ end }}
        </main>

        {{ partial "footer.html" . }}
    </div>
</body>

<style>
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Averia Sans Libre', serif;
    background-color: #f9b749;
    overflow-x: auto;
    overflow-y: hidden;
}

.site-wrapper {
    height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    overflow: visible;
}
</style>

</html>