<button onclick="window.history.back()"
    style="position: fixed; top: 1.2rem; left: 1.2rem; background: none; border: none; padding: 0; z-index: 1000; cursor: pointer;">
    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L10 14L18 22" stroke="#58e003" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</button>
<header>
    <h1>Artists Are Jerks</h1>
</header>

<nav>
    <button id="menu-toggle" aria-label="Toggle menu">☰</button>
    <ul id="main-menu">
        {{ range .Site.Menus.main }}
        <li>
            <a href="{{ .URL }}" aria-haspopup="{{ .HasChildren }}">{{ .Name }}</a>
            {{ if .HasChildren }}
            <ul>
                {{ range .Children }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</nav>